* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

.light-font {
  color: rgb(67, 67, 79);
  font-size: small;
  font-weight: 100;
}

.navbar {
  background-color: rgb(226, 180, 30);
  height: 70px;
  display: flex;
  align-items: center;
}

.navbar--logo {
  max-height: 40%;
  margin: 0px 0px 0px 670px;
}

.navbar--h2 {
  color: white;
  padding: 10px;
  font-weight: normal;
}

.card {
  margin: 90px 490px;
}

.card--item{
  height: 200px;
  display: flex;
  margin-top: 60px;
}

.card--img {
  height: 100%;
  width: 10em;
  object-fit: cover;
  border-radius: 0.5em;
  transition: all 650ms ease-in-out;
}

.card--title-details{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card--location-deets {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: -5px;
  margin-bottom: 5px;
}

.card--details{
  margin-left: 25px;
  margin-top: -35px;
  max-width: 100%;
}

.card--pin-logo {
  max-width: 10%;
  max-height: 50%;
  margin-left: 20px;;
}

.card--google-link {
  padding-left: 15px;
  font-size: small;
  color: rgb(161, 158, 158);
}

.card--date { 
  font-size: small;
  font-weight: 900;
  margin-top: -10px;
}

.card--locn-desc {
  max-width: 90%;
  font-size: smaller;
  text-align: left;
  line-height: 22px;
}