.App {
  text-align: center;
  padding-left: 480px;
  padding-top: 50px;
  padding-bottom: 50px;
  width:350px;
  border-radius: 10px;
}

.App-img {
  height: 50vmin;
  pointer-events: none;
  border-radius: 10px 10px 0px 0px;
}

.App-name {
  margin-bottom: 0%;
}

.App-designation{
  margin: 0%;
  color: rgb(240, 61, 61);
}

.App-buttons {
  display: flex;
  padding-bottom: 25px;
  padding-top: 15px;
}

.App-social-button {
  padding:10px;
  border-radius: 6px;
  border-color: #282c34;
  border-style: hidden;
  margin-left: 30px;
  margin-right: 30px;
  width:110px;
  font-size: small;
}

.App-header {
  /* background-color: #282c34; */
  background-color: #1a1b21;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border-radius: 10px;
}

.App-about{
  font-size: large;
  text-align: left;
  padding-left: 35px;
}

.App-about-text{
  font-size: small;
  text-align: justify;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 5px;
  line-height: 20px;
}

.App-footer {
  background-color: black;
  width: 330px;
  padding: 10px;
  align-items: center;
  align-content: center;
  border-radius: 0px 0px 10px 10px;
}

.App-footer-button {
  background-color: rgb(78, 77, 77);
  width: 40px;
  padding: 5px;
  margin-left: 35px;
  margin-right: 35px;
  border-radius: 6px;
  border-color: black;
  border-style: hidden;
}
